<div class="question-wrapper">
	<div class="question-header">
		<div class="mat-display-1">{{questionTitle}}</div>
		<div class="mat-display-1">Punkte: {{points}}</div>
	</div>

	<div class="question-content">
		<div class="answers">
			<div *ngFor="let answer of answers; let i = index">
				<h1 class="unselectable-text">
					<mat-checkbox (change)="registerSolution(i)" id="{{'answer' + i}}" color="primary" [class.checkbox-disabled]="isSolutionShown"> </mat-checkbox>
					<mat-checkbox *ngIf="isSolutionShown" color="warn" class="checkbox-disabled" [checked]="answer.isCorrect"> </mat-checkbox>
					<!-- Sadly, Angular checkboxes are compiled into <label>s with <input>s inside of them, which is definitely non-standard -->
					<!-- For their internal labels, they use the ID I set for the mat-checkbox and append -input. So I use that. -->
					<label for="{{'answer' + i + '-input'}}">{{answer.answerText}}</label>
				</h1>
			</div>
		</div>

		<mat-card *ngIf="isInfoCardShown">
			<mat-card-title>Auflösung</mat-card-title>
			<mat-card-content>
				Hier kommt ein Erklärungstext.
			</mat-card-content>
		</mat-card>
	</div>

	<div class="action-buttons">
		<button
			color="{{isSolutionShown ? '' : 'primary'}}"
			mat-raised-button
			(click)="submitAnswers()">
			Auswertung
		</button>
		<button
			mat-raised-button
			[disabled]="!isSolutionShown"
			(click)="toggleInfoCard()"
		>
			Erklärung
		</button>
		<button
			color="{{isSolutionShown ? 'primary' : ''}}"
			mat-raised-button
			[disabled]="!isSolutionShown"
			(click)="nextQuestion()"
		>
			Weiter
		</button>
	</div>
</div>

