.navbar {
	justify-content: space-between;
}

.content {
	display: flex;
	padding: 5%;
}

question-media {
	width: 40%;
	/*flex-basis: 40%; - also possible but confusing to explain */
}

question-area {
	width: 60%;
}
